body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    background: #222;
    padding: 15px;
    border-radius: 10px;
}

#display {
    width: -webkit-fill-available;
    height: 50px;
    font-size: 22px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #dff5e1;
    color: #1f8b26;
    font-weight: bold;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.zero {
    grid-column: span 2;
}