body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


.container {
    width: 50%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}


h1,
h2 {
    text-align: center;
}


.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}


input {
    flex: 1;
    padding: 8px;
}


button {
    padding: 8px 12px;
    cursor: pointer;
}


ul {
    list-style-type: none;
    padding: 0;
}


li {
    background: #eaeaea;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.task-info {
    font-size: 12px;
    color: gray;
}


.actions button {
    margin-left: 5px;
}